<section id="professional" class="bg-light-gray">
    <div class="container">
        <div class="col-lg-12 text-center">
            <!--<h2 class="section-heading">About</h2>-->
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md-4 text-center">-->
        <!--<img class="media-object" src="/img/about/headshot.jpg" alt="headshot" style="width: 100%;"/>-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
        <!--<h3 class="media-heading">Keri L. Jacobs</h3>-->
        <!--<p class="large">Assistant Professor and Cooperatives Extension Economist, Department of Economics</p>-->
        <!--<p class="large">Iowa Institute for Cooperatives Economics Professor</p>-->
        <!--<p class="large"><a href="mailto:kljacobs@iastate.edu">kljacobs@iastate.edu</a></p>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/about/headshot.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <h3>Keri Jacobs</h3>
                    <p class="text-muted">Assistant Professor and Cooperatives Extension Economist, Department of Economics</p>
                    <p class="text-muted">Iowa Institute for Cooperatives Economics Professor</p>
                    <p class="text-muted"><a href="mailto:kljacobs@iastate.edu">kljacobs@iastate.edu</a></p>
                    <br/>
                    <p class="text-muted"> Links </p>
                    <a href="https://iastate.box.com/s/2rwgrqj7gwmh2zc45mf45sbvbm32c7fo" target="_blank">
                        <i class="fa fa-file-text-o"></i>
                        Curriculum Vitae
                    </a>
                    <br/>
                    <a href="https://iastate.box.com/s/fsgsetb71wwztw449hqhl1j5g1ldb9n7" target="_blank">
                        <i class="fa fa-file-text-o"></i>
                        Biography
                    </a>
                    <br/>
                    <a href="http://www.econ.iastate.edu/people/faculty/jacobs-keri-l" target="_blank">
                        <i class="fa fa-file-text-o"></i>
                        My Faculty Website
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
