<!-- Portfolio Grid Section -->
    <section id="teaching" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teaching</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <iframe src="https://app.box.com/embed_widget/s/qlc8d7qe7i37a3u7x52z2t822lkzn9xk?view=&sort=&direction=ASC&theme=blue" width="100%" height="400" frameBorder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <div class="col-md-8">
                    <h3>Econ 332 Cooperatives</h3>

                    <p>This course provides an undergraduate-level treatment of the cooperative business structure
including a comparison with other organization types, the economic justification of cooperatives, legal foundations, cooperative governance, and cooperative returns, finance, and equity management.  Students can expect to work in collaborative teams throughout the semester and are encouraged to find ways to incentivize team members to contribute to the group effort. Cooperative leaders from agriculture and other industries are invited into the classroom to share their perspectives on the cooperative business model and challenges related to governance, finance, equity management, policy, and member relationships.
                    </p>

                    <p>
                        <a href="https://bb.its.iastate.edu/" target="_blank">
                            <i class="fa fa-external-link"></i> ISU Blackboard Learn Login
                        </a> 
                    </p>
                </div>
            </div>
        </div>
    </section>
